{% extends "base.twig" %}


    {% block content_header %}
	    {{ parent() }}
    {% endblock %}


    {% block l_colonka %}
	    {{ parent() }}
    {% endblock %}


    {% block c_colonka %}

	    {% if err_msg %}
		    <script language='Javascript'
		            type='text/javascript'>
			    humane.timeout = (6000);
			    humane.error('Ошибка!<br>{{ err_msg }}');
		    </script>

		    <NOSCRIPT>
			    <div align='center'
			         class='drop-shadow lifted center'
			         style='margin:10px 0 0 70px; padding-bottom: 3px; padding-left: 20px; padding-right: 20px; width: 500px;'>
				    'Ошибка!<br>{{ err_msg }}'
			    </div>
			    <div style='clear: both;'></div>
		    </NOSCRIPT>

	    {% endif %}



	    {% if ok_msg %}
		    <div align='center'
		         class='drop-shadow lifted'
		         style='position: relative; margin:10px 0 0 20px; padding-bottom: 3px; padding-left: 20px; padding-right: 20px;'>
			    Спасибо! Вы успешно зарегистрировались в системе.<br>На указанный вами e-mail было отправлено письмо со ссылкой для активации аккаунта.
		    </div>
		    <div style='clear: both;'></div>
		    <script language='Javascript'
		            type='text/javascript'>
			    humane.timeout = (10000);
			    humane.success('Спасибо.<br>Вы успешно зарегистрировались в системе.<br>' +
					    'На указанный вами e-mail было отправлено письмо со ссылкой для активации аккаунта.');
			    function reLoad() {
				    location = "registr.php"
			    }
			    setTimeout('reLoad()', 14000)
		    </script>

	    {% endif %}

	    <div id="form_reg" style="margin-top: 20px;">
		    <div class="cont-list" style="margin: 0 0 0 160px">
			    <div class="drop-shadow curved curved-vt-2">
				    <h2><b><span style="color: #001591">Регистрация на сайте:</span></b></h2>
			    </div>
		    </div>
		    <div class="clear"></div>

		    <div class="center">
			    <div class="centered">
				    <div class="tagged" style="width: 550px;">
					    <ul>
						    <li>
							    <b>
								    Поля не отмеченные * можно не заполнять. Эта информация понадобится
								       только при заказе фотографий и её можно будет ввести потом.
								       Ваши данные сохраняются конфиденциально и нигде не афишируются.

							    </b>
						    </li>
					    </ul>
				    </div>
				    <div class="clear"></div>
			    </div>
		    </div>
		    <div class="clear"></div>


		    <form action=""
		          method="post"
		          enctype="multipart/form-data">
			    <table>
				    <tr>
					    <td> Логин:*</td>
					    <td>
						    <input name="rLogin"
						           onkeyup="parseLogin(this.name)"
						           class="inp_f_reg"
						           title="Логин может состоять из букв, цифр, дефисов и подчёркиваний. Длина от 3 до 16 символов."
						           value="{{ rLogin }} "
						           maxlength="16"
						           data-placement="right"
						           id="td_name">
					    </td>
					    <td ><span id="valid_form_name" class="label label-important"
					               style="margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td> Пароль:*</td>
					    <td>
						    <input name="rPass"
						           class="inp_f_reg"
						           type="password"
						           title="Длина От 8 до 20 символов. Допускаются только английские буквы, цифры и слеующие знаки:  . - _ ! ~ * : < > + "
						           maxlength="20"
						           value="{{ rPass }}"
						           data-placement="right"
						           onkeyup="runPassword(this.value, 'mypassword');"
						           id="td_pass1">
					    </td>
					    <td ><span id="valid_form_pass1" class="label label-important"
					               style="margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>Пароль ещё раз:*</td>
					    <td>
						    <input name="rPass2"
						           class="inp_f_reg"
						           type="password"
						           title="Повторить пароль"
						           maxlength="20"
						           value="{{ rPass2 }}"
						           data-placement="right"
						           onkeyup="runPassword(this.value, 'mypassword');"
						           id="td_pass2">
					    </td>
					    <td ><span id="valid_form_pass2" class="label label-important"
					               style="margin-left: 10px;" ></span ></td >
				    </tr>

				    <tr>
				    <td>Безопасность пароля:</td>
					<td><div id="mypassword_text"><b></b></div>
					</td>
					<td>
					<div style="width: 100px;"><div id="mypassword_bar"
					                                style="
					                                font-size: 1px;
					                                height: 20px;
					                                width: 0;
					                                /*border: 1px solid white;*/
					                                margin-left: 8px;
					                                "></div></div>
					</td>
				    </tr>

				    <tr>
					    <td>Ваше имя:*</td>
					    <td>
						    <input name="rName_us"
						           class="inp_f_reg"
						           type="text"
						           title="Как к Вам обращаться?"
						           value="{{ rName_us }}"
						           maxlength="30"
						           data-placement="right"
						           id="td_name_us">
					    </td>
					    <td ><span id="valid_form_name_us" class="label label-important"
					               style="margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>Фамилия:</td>
					    <td>
						    <input name="rSurName_us"
						           class="inp_f_reg"
						           type="text"
						           title="Для идентификации в почтовой или курьерской службе при получении фотографий"
						           value="{{ rSurName_us }}"
						           maxlength="30"
						           data-placement="right"
						           id="td_surname_us">
					    </td>
					    <td ><span id="valid_form_surname_us" class="label label-important"
					               style="margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>E-mail:*</td>
					    <td>
						    <input name="rEmail"
						           class="inp_f_reg"
						           type="text"
						           title="E-mail, на который прийдут ссылки для скачивания фотографий ( пример: super@mail.de )"
						           value="{{ rEmail }}"
						           maxlength="30"
						           data-placement="right"
						           id="td_email">
					    </td>
					    <td ><span id="valid_form_email" class="label label-important"
					                                             style="margin-top: 7px; margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>Skype:</td>
					    <td>
						    <input name="rSkype"
						           class="inp_f_reg"
						           type="text"
						           title="Для быстрой связи (заполнять не обязательно)"
						           value="{{ rSkype }}"
						           maxlength="30"
						           data-placement="right"
						           id="td_skype">
					    </td>
					    <td ><span id="valid_form_skype" class="label label-important"
					               style=" margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>Телефон:</td>
					    <td>
						    <input name="rPhone"
						           class="inp_f_reg"
						           type="text"
						           title="Для заказа фотографий обязательно - можно ввести потом ( пример: (067)-123-45-67 или 787-12-34, 767_54_68, +3-067-123-45-67 )"
						           onkeyup="parseField(this.name)"
						           value="{{ rPhone }}"
						           maxlength="30"
						           data-placement="right"
						           id="td_phone_reg">
					    </td>
					    <td ><span id="valid_form_phone_reg" class="label label-important"
					               style=" margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>Город:</td>
					    <td>
						    <input name="rCity"
						           class="inp_f_reg"
						           type="text"
						           title="Для отправки заказанных фотографий фотографий ( можно ввести потом )"
						           value="{{ rCity }}"
						           maxlength="30"
						           data-placement="right"
						           id="td_city">
					    </td>
					    <td ><span id="valid_form_city" class="label label-important"
					               style=" margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td style="padding-right: 30px">Проверочный код:*</td>
					    <td>
						    <input name="rPkey"
						           {#id="captcha"#}
						           class="inp_f_reg"
						           type="text"
						           title="Цифры внизу. Если не видны, нажмите на колечко со стрелками"
						           value="Защита от спама"
						           maxlength="20"
						           data-placement="right"
						           id="td_key">
					    </td>
					    <td ><span id="valid_form_key" class="label label-important"
					               style=" margin-left: 10px;" ></span ></td >
				    </tr>
				    <tr>
					    <td>Обновить:</td>
					    <td>
						    <div style="margin: 10px 0 -10px 30px;">{{ kapca('cryptographp.cfg.php', 1) }}</div>
					    </td>
				    </tr>
			    </table>
			    <br>

			    <div align="center"><input class="metall_knopka"
			                               name="ok"
			                               type="submit"
			                               value="Отправить"></div>
		    </form>
	    </div>


	    <div class="cont-list"
	         style="margin: 0 0 0 0;">
		    <div class="drop-shadow lifted"
		         style="padding: 15px 25px 3px 25px; width: 630px; margin-left: 0; margin-right: 0;">
			    <p id="for_reg_cont"
			       style="width: 620px;">
				    Регистрация необходима для хранения, покупки или бесплатного скачивания фотографий из фотобанка. Для всех зарегистрированных пользователей,
				    активно принимающих участие в голосованиях за фотографии, предусмотрены скидочные бонусы и акции, а для пользователей, чьи фотографии набрали
				    пять и более звездочек рейтинга в альбоме - специальное предложение. </p>

			    <p id="for_reg_cont"
			       style="width: 620px;">Пожалуйста, внимательно заполните все поля и нажмите кнопку "отправить". Указывайте реально существующий email, на него
			                             будут приходить ссылки для скачивания выбранных Вами фотографий. Внимание! В целях безопасности, никому не передавайте свои
			                             логин и пароль! Пароль и логин могут состоять только из ЛАТИНСКИХ букв, цифр или подчеркивания. Желательно использовать
			                             пароль длиной больше восьми символов, включающий в себя цифры, а также большие и маленькие буквы.</p>
		    </div>
	    </div>

	    <script type="text/javascript" src="/js/valdator_kontakty.js"></script>
	    <script type="text/javascript" src="/js/passValid.js"></script>
    {% endblock c_colonka %}


    {% block r_colonka %}
	    {{ parent() }}
    {% endblock r_colonka %}
