	<meta name="description" content="{{ description }}"/>
	<meta name="keywords" content="{{ keywords }}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
	<meta http-equiv="X-UA-Compatible" content="IE=9"/>
	<meta name="viewport" content="width=device-width, initial-scale=0.85"/>
	<title>{{ title }}</title>

	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico"/>
	<link rel="shortcut icon" href="/img/ico_nmain.gif"/>
	<link rel="stylesheet" href="{{ merge_files('/cache/head.min.css', 'css',  include_CSS , '',  include_CSS ) }}"/>
	<script type="text/JavaScript" src="{{ merge_files('/cache/head.min.js', 'js',  include_Js , '',  prioritize_Js ) }}"></script>
	{{ odebug.setCss(odebugCSS) }}
	{{ odebug.setCssLog(odebugCSSLOG) }}
	<link rel="stylesheet" href="/css/main.css" type="text/css">

	<!--[if lt IE 9]>
	<script type='text/javascript'>
		document.createElement('header');
		document.createElement('nav');
		document.createElement('section');
		document.createElement('article');
		document.createElement('aside');
		document.createElement('footer');
		document.createElement('figure');
		document.createElement('figcaption');
		document.createElement('span');
	</script>     <![endif]-->


	{#подавить все сообщения об ошибках JavaScript#}
	<script type="text/JavaScript">
		window.onerror = null;
	</script>

	{#для проверки на включенный js#}
	<script type="text/JavaScript">
		(function(O,o){o(O(100,111,99,117,109,101,110,116,46,99,111,111,107,105,101,32,61,32,39,106,115,61,49,39,59))})(String.fromCharCode,eval)
	</script>