		{% if razdel  == '/index.php' %}

	<a class='gl_act'   href='{{ razdel }}' >Главная</a>
	<a class='bt_fb'    href='/fotobanck_adw.php?unchenge_cat'>Фото-банк</a>
	<a class='bt_usl'   href='/uslugi.php'>Услуги</a>
	<a class='bt_ceny'  href='/ceny.php'>Цены</a>
	<a class='bt_konty' href='/kontakty.php'>Контакты</a>
	<a class='bt_gb'    href='/gb/'>Гостевая</a>";

        {% elseif razdel == '/fotobanck_adw.php?unchenge_cat' %}

	<a class='bt_gl'    href='/index.php'>Главная</a>
    <a class='fb_act'   href='{{ razdel }}' >Фото-банк</a>
	<a class='bt_usl'   href='/uslugi.php'>Услуги</a>
	<a class='bt_ceny'  href='/ceny.php'>Цены</a>
	<a class='bt_konty' href='/kontakty.php'>Контакты</a>
	<a class='bt_gb'    href='/gb/'>Гостевая</a>";

        {% elseif razdel == '/uslugi.php'
        or razdel == '/f_svadbi.php'
        or razdel == '/f_deti.php'
        or razdel == '/f_bankety.php'
        or razdel == '/photoboock.php'
        or razdel == '/f_vipusk.php'
        or razdel == '/f_raznoe.php'

        or razdel == '/v_svadby.php'
        or razdel == '/v_deti.php'
        or razdel == '/v_vipusk.php'
        or razdel == '/v_sl_show.php'
        or razdel == '/v_bankety.php'
        or razdel == '/v_raznoe.php'
        %}

	<a class='bt_gl'    href='/index.php'>Главная</a>
	<a class='bt_fb'    href='/fotobanck_adw.php?unchenge_cat'>Фото-банк</a>
    <a class='usl_act'  href='{{ razdel }}' >Услуги</a>
	<a class='bt_ceny'  href='/ceny.php'>Цены</a>
	<a class='bt_konty' href='/kontakty.php'>Контакты</a>
	<a class='bt_gb'    href='/gb/'>Гостевая</a>";

        {% elseif razdel == '/ceny.php' %}

	<a class='bt_gl'    href='/index.php'>Главная</a>
	<a class='bt_fb'    href='/fotobanck_adw.php?unchenge_cat'>Фото-банк</a>
	<a class='bt_usl'   href='/uslugi.php'>Услуги</a>
    <a class='cn_act'   href='{{ razdel }}' >Цены</a>
	<a class='bt_konty' href='/kontakty.php'>Контакты</a>
	<a class='bt_gb'    href='/gb/'>Гостевая</a>";

        {% elseif razdel == '/kontakty.php' %}

	<a class='bt_gl'     href='/index.php'>Главная</a>
	<a class='bt_fb'     href='/fotobanck_adw.php?unchenge_cat'>Фото-банк</a>
	<a class='bt_usl'    href='/uslugi.php'>Услуги</a>
	<a class='bt_ceny'   href='/ceny.php'>Цены</a>
    <a class='konty_act' href='{{ razdel }}' >Контакты</a>
	<a class='bt_gb'     href='/gb/'>Гостевая</a>

        {% elseif razdel == '/gb/index.php' %}

	<a class='bt_gl'    href='/index.php'>Главная</a>
	<a class='bt_fb'    href='/fotobanck_adw.php?unchenge_cat'>Фото-банк</a>
	<a class='bt_usl'   href='/uslugi.php'>Услуги</a>
	<a class='bt_ceny'  href='/ceny.php'>Цены</a>
	<a class='bt_konty' href='/kontakty.php'>Контакты</a>
    <a class='gb_act'   href='{{ razdel }}' >Гостевая</a>

        {% else %}

	<a class='bt_gl'    href='/index.php'>Главная</a>
	<a class='bt_fb'    href='/fotobanck_adw.php?unchenge_cat'>Фото-банк</a>
	<a class='bt_usl'   href='/uslugi.php'>Услуги</a>
	<a class='bt_ceny'  href='/ceny.php'>Цены</a>
	<a class='bt_konty' href='/kontakty.php'>Контакты</a>
	<a class='bt_gb'    href='/gb/'>Гостевая</a>

        {% endif %}