{% block doctype %}
	<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% endblock doctype %}

<head>
{% block head %}
	{% include 'head.twig' %}
{% endblock head %}
</head>

	<body>
		<div id="maket">
			<div id="photo_preview_bg" class="hidden" onClick="hidePreview();"></div>
			<div id="photo_preview" class="hidden"></div>

			<!--Голова начало-->
			{% block golova_menu %}
				{% include 'golova_menu.twig' %}
				<div style="margin-top: 10px;">	</div>
			{% endblock golova_menu %}
			<!--Голова конец-->


			<!-- ввод пароля -->
			<div class="modal-scrolable"
			     style="z-index: 150;">
				<div id="static"
				     class="modal hide fade in animated fadeInDown"
				     data-keyboard="false"
				     data-backdrop="static"
				     tabindex="-1"
				     aria-hidden="false">
					<div class="modal-header">
						<h3 style="color: #444444">Ввод пароля:</h3>
					</div>
					<div class="modal-body">

						<div style="ttext_white">
							На данный альбом установлен пароль. Если у Вас нет пароля для входа или он утерян , пожалуйста свяжитесь с администратором сайта
							через email в разделе <a href="/kontakty.php"><span class="ttext_blue">"Контакты"</span>.</a>
						</div>
						<br/>
						<form action="/fotobanck_adw.php"
						      id="parol"
						      method="post">
							<label for="inputError"
							       class="ttext_red"
							       style="float: left; margin-right: 10px;">Пароль: </label> <input id="inputError" type="text" name="album_pass" value="" maxlength="20"/>
							<input class="btn-small btn-primary" type="submit" value="ввод"/>
						</form>
						<div id="err_parol"></div>
					</div>
					<div class="modal-footer">
						<p id="err-modal" style="float: left;"></p>
						<button type="button" data-dismiss="modal" class="btn"
						        onClick="window.document.location.href='/fotobanck_adw.php?back_to_albums'">
							Я не знаю
						</button>
					</div>
				</div>
			</div>


			<script type="text/javascript">
					$(document).ready(function(){
						    $('#parol').submit(function(){
							        var value=$('#inputError').val();
							        if (value=='')
								        {
									        $('#err_parol').empty().append('Заполните поле или отмените действие');
								            return false;
								        }
							    })
						});
					</script>


			<!-- ошибка -->
			<div id="error_inf"
			     class="modal hide fade"
			     tabindex="-1"
			     data-replace="true">
				<div class="modal-header">
					<button type="button"
					        class="close"
					        data-dismiss="modal"
					        aria-hidden="true">x
					</button>
					<h3 style="color:red">Неправильный пароль.</h3>
				</div>
				<div class="modal-body">
					<div>
						<a href="/kontakty.php"><span class="ttext_blue">Забыли пароль?</span></a>
					</div>
				</div>
			</div>

{% if ret is defined and ret|length > 0 %}
			<div id="zapret"
			     class="modal hide fade"
			     tabindex="-1"
			     data-replace="true"
			     style=" margin-top: -180px;">
				<div class="err_msg">
					<div class="modal-header">
						<h3 style="color:#fd0001">Доступ к альбому "{{ album_name }}" заблокирован!</h3>
					</div>
					<div class="modal-body">
						<div style="color:black">Вы использовали 5 попыток ввода пароля.В целях защиты,<br> Ваш IP {{ ip }} заблокирован на 30 минут.</div>
						<br>
						<h2>Осталось <span id='timer' long='{{ ret.min|default(30) }}:{{ ret.sec|default(0) }}'>{{ ret.min|default(30) }}:{{ ret.sec|default(0) }}
							</span> минут{{ okonc }}</h2>
						<script type='text/javascript'>
							$(function () {
								setInterval(function () {
									function iTime(x) {
										return (x / 100).toFixed(2).substr(2)
									}
									var o = document.getElementById('timer'),
											w = 60,
											y = o.innerHTML.split(':'),
											v = y [0] * w + (y [1] - 1),
											s = v % w,
											m = (v - s) / w;
									if (s < 0) {
										v = o.getAttribute('long').split(':');
										m = v [0];
										s = v [1];
									}
									o.innerHTML = [iTime(m), iTime(s)].join(':');
								}, 1000);
							});
						</script>
						<br> <br> <a href="/kontakty.php">
							<span class="ttext_blue">Восстановление пароля</span></a>
						<a style="float:right"
						   class="btn btn-danger"
						   data-dismiss="fotobanck_adw.php"
						   href="/fotobanck_adw.php?back_to_albums">Закрыть</a>
					</div>
				</div>
			</div>
{% endif %}


				{#вывод ошибок#}
				{% if odebug.showRealtime() == true and odebug.isError > 0 %}
					{% block showDebug %}
						<div class="center">
							<div class="centered">
								{{ odebug.showAll() }}
							</div>
						</div>
						<div class="center">
							<div class="centered">
								{#{{ odebug.showLog() }}#}
							</div>
						</div>
					{% endblock showDebug %}
				{% endif %}


				{% block content_header %}

					{% include 'content_header.twig' %}

				{% endblock content_header %}

		{#<div id="main">#}



		{#</div>#}

{% if current_album %}

			{{ parol }}

			{% if may_view %}

			{{ akkordeon }}

				<script language=JavaScript type="text/javascript">
					$(function () {
						$('.modern').click(function () {
							onJS('/js_test.php');
							return false;
						});
					});
					$(function () {
						$('.profile_bitton , .profile_bitton2').click(function () {
							$('.profile').slideToggle();
							return false;
						});
					});
				</script>

				<!-- кнопки назад -->
				<div class="page">
					{#<a class="next" href="/fotobanck_adw.php?back_to_albums">« назад</a> #}
					<a class="next" href="/fotobanck_adw.php?unchenge_cat">« категории </a>
					<a class="next" href="/fotobanck_adw.php?back_to_albums">« {{ razdel }}</a>
					<a class="next">« {{ album_name }}</a>
				</div>

				<!-- Название альбома  -->
				<div class="cont-list"
				     style="margin: 40px 10px 30px 0;">
					<div class="drop-shadow lifted">
						<h2><span style="color: #00146e;">Фотографии альбома "{{ album_name }}"</span>
						</h2>
					</div>
				</div>
				<div style="clear: both;"></div>

				<!--/**	выводим фотографию - заголовок альбома*/ -->
				<div id="alb_opis"
				     class="span3">
					<div class="alb_logo">
						<div id="fb_alb_fotoP">
							<img src="/album_id.php?num={{ album_img }}"
							     width="130px"
							     height="124px"
							     alt="-"/>
						</div>
					</div>
					{{ descr }}
				</div>

			{% if JS %}
				{% if disable_photo_display == 'on' %}
					{# Вывод фото в шапку альбома #}
					{{ top5 }}
					{# верхний пагитнатор#}
					{{ renderTop }}
					{# Вывод фото в альбом #}
					<div id="modern">
						<hr class='style-one' style='margin-top: 10px; margin-bottom: -20px;'/> <div style= 'clear: both;'>
							{{ fotoPageModern }}
						</div>
					</div>
					<script type="text/javascript">
						$(function () {
							$("img.lazy").lazyload({
								threshold: 200,
								effect: "fadeIn"
							});
						});
					</script>

					<hr class="style-one" style="clear: both; margin-bottom: -20px; margin-top: 0"/>
					{{ renderBottom }}
				{% else %}

					{% include '/fotobanck_adw/fotobanck_adw_podpiska.twig' %}

				{% endif %}
			{% else %}
			<br><br>
			<hfooter style="font-size: 20px; font-weight: 400; font-style: inherit; color: #df0000; text-shadow: 1px 1px 0 #d1a2a2;"
					>В Вашем браузере не работает JavaScript!
			</hfooter>
			<script type='text/javascript'>
				$(function(){
					window.document.location.href = '{{ REQUEST_URI }}';
				}
			</script>
			<NOSCRIPT>
				<br><br>
				<hfooter style="font-size: 20px; font-weight: 400; font-style: inherit; color: #df0000; text-shadow: 1px 1px 0 #d1a2a2;"
						>Из - за отключенной JavaScript показ фотографий невозможен!
				         ( <a href="http://www.enable-javascript.com/ru/">Как включить JavaScript?</a>)
				</hfooter>
			</NOSCRIPT>

			{% endif %}
			{% else %}
				<div class="center" style="margin-top: 30px;">
					<hfooter style="font-size: 20px; font-weight: 400; font-style: inherit; color: #df0000; text-shadow: 1px 1px 0 #d1a2a2;">
						Альбом заблокирован паролем
					</hfooter>
				</div>
				<div class="center" style="margin-top: 30px;">
					<NOSCRIPT>
						<hfooter style="font-size: 20px; font-weight: 400; font-style: inherit; color: #df0000; text-shadow: 1px 1px 0 #d1a2a2;">
							При отключенной JavaScript функционал сайта заблокирован! ( <a href="http://www.enable-javascript.com/ru/">Как включить JavaScript?</a> )
						</hfooter>
					</NOSCRIPT>
				</div>
			{% endif %}

		{% else %}

			{% if current_cat %}
			{#/**  Печать альбомов*/#}
			{% include '/fotobanck_adw/fotobanck_adw_razdel.twig' %}
	{% else %}
		{#/**  кнопки разделов (категорий) */#}
		{% include '/fotobanck_adw/fotobanck_adw_kategorii.twig' %}

	{% endif %}
{% endif %}



			{% block bottom %}

			{% endblock bottom %}

			{% block content %}
				<script src="{{ merge_files('/cache/fotobank.min.js', 'js', include_Js_banck, '',  include_Js_banck) }}" ></script >
			{% endblock content %}
			<div class="clear"></div>


		</div>


		{% block end_content %}
			<div class="end_content" ></div >
		{% endblock end_content %}



		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock footer %}


	</body>
{% block html %}
</html>
{% endblock html %}
